
.carouselSeccion{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.titlesC{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.titleC{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-decoration-line: underline;
    color: #FF8126;
    padding-right: 12px;
}

.titleC2{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.carousel{
    padding: 2rem;
}

.imageCarousel{
    width: 186px;
    height: 186px;
    background-repeat: no-repeat;
    border-style: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

/* **************RESPONSIVE************** */

@media (max-width: 768px) {
    .carouselSeccion{
        width: 80%;
    }

    .titlesC{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }

    .titleC{
        font-size: 30px;
    }
    
    .titleC2{
        font-size: 30px;
    }

    .carousel{
        padding: 1rem;
    }

}

@media (max-width: 375px) {
    
    .titleC{
        font-size: 25px;
    }
    
    .titleC2{
        font-size: 25px;
    }

}