@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Roboto', 'Nunito', sans-serif;
}

body{
  overflow-x: hidden;
  color: rgb(252, 250, 250);
  background-color: rgb(231, 231, 246);
}

a{
  text-decoration: none;
  transition: all 0.3s ease-out;
  color:black;
}

a:hover{
  opacity: 0.75;
}

img {
  max-width: 100%;
  height: auto;
}
p{
  line-height: 1.6rem;
}

.menu-btn{
background-color: rgb(87, 87, 214);
border: 0;
}

.menu-btn svg{
  fill:rgb(231, 231, 246);
}
.cart-btn{
  background-color:rgb(63, 77, 195);
  border: 0;
  }
  
.cart-btn svg{
    fill:rgb(255, 255, 255);
  }
.menu{
  position: fixed;
  left: 0;
  top: 4rem;
  width: 100%;
  display: flex;
  flex-direction:column-reverse;
  background-color: rgb(7, 8, 15);;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}
.menu.is-active{
  opacity: 1;
  pointer-events: auto;
}

.menu a{
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color:  rgb(63, 77, 195);
}

.menu a:hover{
  color: rgb(8, 3, 3);
  background-color:  rgb(78, 31, 189);
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  
}

.none{
  display: none;
}

.header{
  position: fixed;
  z-index: 99995;
  padding: 1rem;
  width: 100%;
  height: 4rem;
  background-color: rgb(63, 77, 195);
}

.header > .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  color: rgb(7, 6, 6);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}






@media screen and (min-width: 1024px){ 
  .header{
    position: fixed;
    padding: .5rem;
    height: calc(var(--header-height) -.5rem);
    
  }

  .menu-btn{
    display: none;
  }

  .menu{
    position:static;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    flex-direction: row;
 
  }

  .menu a{
    padding: 0 1rem;
  }
  
 .header .container .menu{
  margin: 0;
  padding: 0;
  opacity: 10;
  pointer-events: auto;
  flex-direction:row;
  justify-content:center;
  align-items: center;
 }
 }
